<mat-tab-group>
  <mat-tab label="Home"><div *ngIf="true; then usercard"></div></mat-tab>
  <mat-tab label="Track">Content 2</mat-tab>
</mat-tab-group>

<ng-template #usercard>
  <div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>{{ displayName }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="photoURL" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Welcome to health tracker.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

</ng-template>