.title {
  position: absolute;
  margin-top: 25%;
  margin-left: 40%;
  color: white;
  font-size: 48px;
}

@media only screen and (max-width: 600px) {
  .title {
      margin-top: 25%;
      margin-left: 20%;
      color: white;
      font-size: 32px;
    }
}

.post-div {
  margin-top: 10%;
  /* -webkit-column-count: 3; /* Chrome, Safari, Opera */
  /* -moz-column-count: 3; */
  /* column-count: 3; */
}

@media only screen and (max-width: 600px) {
  .post-div {
    margin-top: 10%;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

}
.example-card {
  max-width: 400px;
  min-height: 250px;
  max-height: 250px;
  /* padding: 10px;
  padding-top: 10px; */
}

.example-header-image {
  background-image: url('https://www.freepnglogos.com/uploads/letter-e-design-logo-png-27.png');
  background-size: cover;
}

.posts-div {
  padding: 10px;
}
